body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-top: 15px;
  font-size: 55px;
  font-weight: 600;
  color: darkblue;
  text-align: center;
}

small {
  font-size: 20px;
  font-weight: 600;
  color: darkblue;
  text-align: center;
  position: relative;
  top: -25px;
}

h2 {
  font-size: 30px;
  color: darkblue;
  text-align: center;
}

h3 {
  color: rgb(129, 128, 128);

  font-size: 20px;
  text-align: left;
  text-align: center;
}

hr {
  color: darkblue;
}

.container {
  max-width: 350px;
  margin: 30px auto;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  color: darkblue;
}
.burger-menu-icon {
  color: grey;
}

.burger-menu-icon:hover {
  cursor: pointer;
}

.search-field {
  margin: 20px 0px 10px;
  width: 320px;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
  text-align: center;
}

.search-button {
  width: 320px;
  color: white;
  background: darkblue;
  font-size: 19px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid darkblue;
  box-shadow: 2px 7px 7px rgb(1, 1, 53, 0.2);
  transition: all 200ms ease-in-out;
  margin-bottom: 20px;
}

.search-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.list-group-item {
  border: none;
  font-size: 18px;
  margin-left: 35px;
  padding: 12px;
  color: rgb(129, 128, 128);
}
.detail-button {
  width: 320px;
  color: darkblue;
  background: rgba(124, 124, 244, 0.8);
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid darkblue;
  box-shadow: 2px 7px 7px rgb(1, 1, 53, 0.2);
  transition: all 200ms ease-in-out;
  margin-bottom: 20px;
}

.detail-button:hover {
  color: rgba(124, 124, 244, 0.8);
  background: darkblue;
  cursor: pointer;
}

.footer {
  color: grey;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

.weather-icon {
  margin-top: 40px;
  font-size: 55px;
  font-weight: 600;
  color: darkblue;
  text-align: center;
}

.wind-and-humidity {
  color: rgb(129, 128, 128);
  font-size: 16px;
  text-align: left;
  text-align: center;
}

.weather-description {
  color: darkblue;
  margin-bottom: 40px;
  margin-top: 30px;
  font-size: 25px;
  text-align: left;
  text-align: center;
}
